/* 余白調整用スタイル */
@for $i from 0 through 4 {
  .mt-#{$i * 5} {
    margin-top: 5px * $i !important;
  }
  .mb-#{$i * 5} {
    margin-bottom: 5px * $i !important;
  }
  .pt-#{$i * 5} {
    padding-top: 5px * $i !important;
  }
  .pb-#{$i * 5} {
    padding-bottom: 5px * $i !important;
  }
}
