<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>書籍貸出管理</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
  <!-- GoogleFonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
<style>
</style>
</head>

<body>
<main class="login-p">
  <div class="login-c">
    <h1>書籍貸出管理システム</h1>
    <form action="{{ url_for('login_bp.try_login') }}" method="POST">
      <div class="input-box">
        <label for="login-id">スタッフID</label>
        <input type="text" id ="login-id" class="login-input" name="login-id" placeholder="ID：aでログイン可能" required><br>
      </div>
      <label for="login-pwd">パスワード</label>
      <input type="password" id ="login-pwd" name="login-pwd" size="10" placeholder="Password：bでログイン可能" required><br>
      <div class="message {{message.status}}">{{ message.body }}</div>
      <button class="btn-common" type="submit">ログイン</button>
    </form>

  </div>
</main>
</body>
</html>
